<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TruthLens | AI Fake News Detector</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="overlay">

        <nav>

            <div class="logo">
                🤖 TruthLens
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/detect">Features</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </nav>

        <div class="hero">

            <h1>TruthLens</h1>

            <h2>AI Powered Fake News Detection System</h2>

            <p>
                Detect fake news instantly using Artificial Intelligence.
                Verify information before sharing and help stop misinformation
                across social media and digital platforms.
            </p>

            <div class="buttons">

                <a href="/login">
                    <button class="btn1">Get Started</button>
                </a>

                <a href="/about">
                    <button class="btn2">Learn More</button>
                </a>

            </div>

            <h4>
                Powered by Artificial Intelligence & Machine Learning
            </h4>

        </div>

    </div>

</body>

</html>